
body {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    text-align: center;
};


.answers {
    margin-bottom: 20px;
}


 .quiz {
    text-align: left;
    padding-left: 50px;
    color: blue;
}
 .answers label {
    display: block;
    background-color: rgb(245, 201, 245);        
}
 p, #results {
    font-size: 1.3em;
    font-weight: bold;
}


.resultsBoard {
    padding-top: 20px;
    padding-right: 50px;
}
#answers:hover,
#answers:focus {
    background: #0053ba;
    font-family: 'Slabo 27px', serif;
    font-display: white;
    
}

#answers:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#answers:active {
    transform: scale(0.99);
}

/*  */