
    body {
        font-family: 'Slabo', serif;
        font-size: 3em;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background-image: url(../images/trivia.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1 {
        font-family: 'Slabo', serif;
        font-size: 20%;
        color: red;

    }

    p {
        color: salmon;
    }
    .answers {
        margin-bottom: 20px;
    }

    .question {
        display: block;
        background-color: slategray;
        color: salmon;
        font-weight: bold;
        font-size: 1.3em;
        padding-left: 5px;
        border-radius: 12px;
    }

    .trivia {
        
        text-align: left;
        color: gray;
        font-size: 10px;
        padding-left: 20px;
        border-radius: 12px;
    }

    
   
    

    .resultsBoard {
        padding-top: 20px;
        padding-right: 50px;
    }

    #answer {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        background-color: pink;
        color: white;
        margin-bottom: 18px;
        border: 0px;
        border-radius: 12px;
        padding: 10px;
    }


    #answer:hover,

    #answer:focus {
        background: salmon;
        font-family: 'Slabo 27px', serif;
        color: white;
        
    }

    #answer:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
    }

    #answer:active {
        transform: scale(0.99);
    }

    

    .answer label {
       display: block;
       background-color: lightslategray;        
       background-color: lightgoldenrodyellow;  
       padding-left: 5px;
       border-radius: 12px;   
   }
   
    .resultsBoard {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        padding-top: 50px;
        padding-right: 50px;
        }

